<div
  class="flex {{screenService.isMobile() ? '' : 'items-center'}} justify-center h-screen"
>
  <div class="w-full sm:max-w-md">
    <p-card
      header="Confirmé votre mot de passe"
      [style]="screenService.isMobile() ? {'border-radius': '0', 'height': '100vh'}: {}"
    >
      <form
        [formGroup]="form"
        (submit)="submit()"
        class="flex flex-col gap-4 mt-6"
      >
        <div>
          <p-floatlabel variant="on">
            <p-password
              feedback="false"
              fluid="true"
              toggleMask="true"
              formControlName="password"
              [invalid]="zodErrors()['password']"
              inputId="password_input"
            />
            <label
              for="password_input"
              class="{{zodErrors()['password']?'text-red-400' : ''}}"
              >Mot de passe</label
            >
          </p-floatlabel>
          @if (zodErrors()['password']) {
          <small id="password-helper" class="text-red-400"
            >{{ zodErrors()['password'] }}</small
          >
          }
        </div>
        <div>
          <p-floatlabel variant="on">
            <p-password
              feedback="false"
              fluid="true"
              toggleMask="true"
              [invalid]="zodErrors()['confirmation']"
              formControlName="confirmation"
              inputId="confirm_input"
            />
            <label
              for="confirm_input"
              class="{{zodErrors()['confirmation']?'text-red-400' : ''}}"
              >Confirmation</label
            >
          </p-floatlabel>
          @if (zodErrors()['confirmation']) {
          <small id="confirmation-helper" class="text-red-400"
            >{{ zodErrors()['confirmation'] }}</small
          >
          }
        </div>
        <p-button
          type="submit"
          label="Enregistrer"
          [raised]="true"
          [loading]="resetPasswordState.isLoading()"
          styleClass="mb-4 w-full mt-2"
        />
      </form>
    </p-card>
  </div>
</div>
