<div
  class="flex {{screen.isMobile() ? '' : 'items-center'}} justify-center h-screen"
>
  <div class="w-full sm:max-w-md">
    <p-card
      header="Bienvenue chez nous"
      [style]="screen.isMobile() ? {'border-radius': '0', 'height': '100vh'}: {}"
    >
      <form
        class="space-y-4 md:space-y-6 mt-6"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="flex flex-col gap-2">
          <label
            for="email_input"
            class="{{zodErrors()['email']?'text-red-400' : ''}}"
            >Email</label
          >
          <input
            pInputText
            id="email_input"
            type="email"
            formControlName="email"
            aria-describedby="email-helper"
            placeholder="exemple@gmail.com"
          />
          @if (zodErrors()['email']) {
          <small id="email-helper" class="text-red-400"
            >{{ zodErrors()['email'] }}</small
          >
          }
        </div>
        <div class="flex flex-col gap-2">
          <label for="password_input">Mot de passe</label>
          <p-password
            feedback="false"
            fluid="true"
            [invalid]="zodErrors()['password']"
            toggleMask="true"
            inputId="password_input"
            formControlName="password"
            placeholder="*****"
            aria-describedby="password-helper"
          />
          @if (zodErrors()['password']) {
          <small id="password-helper" class="text-red-400"
            >{{ zodErrors()['password'] }}</small
          >
          }
        </div>

        <p-button
          label="Mot de passe oublié ?"
          link
          (onClick)="op.toggle($event)"
          size="small"
        ></p-button>
        <p-button
          type="submit"
          label="Connexion"
          [raised]="true"
          [loading]="loginState.isLoading()"
          styleClass="w-full  mb-4"
        />
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Vous êtes nouveau?
          <a href="/register" class="font-medium hover:underline">S'inscrire</a>
        </p>

        <p-popover #op>
          <div>
            <span
              class="font-medium text-surface-900 dark:text-surface-0 block mb-2"
              >Votre email</span
            >
            <div class="flex">
              <p-inputgroup>
                <input
                  pInputText
                  type="email"
                  formControlName="email"
                  size="small"
                  placeholder="exemple@gmail.com"
                  aria-describedby="email-forgot-helper"
                />
                <button
                  pButton
                  label="Envoyer"
                  icon="pi pi-send"
                  size="small"
                  (click)="forgotPassword()"
                  [loading]="sendEmailState.isLoading()"
                ></button>
                @if (zodErrors()['email']) {
                <small id="email-forgot-helper" class="text-red-400"
                  >{{ zodErrors()['email'] }}</small
                >
                }
              </p-inputgroup>
            </div>
          </div>
        </p-popover>
      </form>
    </p-card>
  </div>
</div>
