<div
  class="flex {{screenService.isMobile() ? '' : 'items-center'}} justify-center h-screen"
>
  <div class="w-full sm:max-w-md">
    <p-card
      header="Une code vous a été envoyé par email"
      [style]="screenService.isMobile() ? {'border-radius': '0', 'height': '100vh'}: {}"
    >
      <form
        class="space-y-4 md:space-y-6 mt-6"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="mb-2">
          <span>Email: {{email}}</span>
        </div>
        <div class="flex flex-col gap-2">
          <label
            for="code_input"
            class="text-{{zodErrors()['code']?'red' : 'white'}}"
            >Code</label
          >
          <p-input-otp
            styleClass="w-full"
            formControlName="code"
            [length]="5"
          />
          @if (zodErrors()['code']) {
          <small id="code-helper" class="text-red-400"
            >{{ zodErrors()['code'] }}</small
          >
          }
        </div>
        <p-button
          type="submit"
          label="Envoyer"
          [raised]="true"
          [loading]="mfaState.isLoading()"
          styleClass="w-full text-white mb-4"
        />
      </form>
      <p-divider />
      <div>
        <span class="text-white">RAKOTOMAHEFA Fanomezana Sarobidy</span>
      </div>
    </p-card>
  </div>
</div>
